html,body{
  width: 100%;
  height: 100%;
}
body{
  background: #210F04;
  color: #BB6B00;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.menuV{
  width: 18%;
  height: 100%;
  text-align: center;
  margin-left: 0px;
  margin-top: 0px;
  position: fixed;

}
.naming{
  width: 100px;
  height: 100px;
  position: relative;
  margin-bottom: -10%;
  margin-top: 5%;
}
#menuVertical{
  width: 240px;
  height: 90%;
  margin-top: 5%;
  background-color: #452103;
  border-radius: 8px;
  margin-left: 5%;
}
#menuVertical hr{
  background-color: #934B00;
  top: 5%;
  position: relative;
}
#menuVertical ul{
  position: relative;
  margin-top: 20%;
}
#menuVertical ul li a{
  text-transform: uppercase;
  text-decoration: none;
  color: #BB6B00;
}
#menuVertical ul li{
  width: 220px;
  border-radius: 8px;
  margin-top: 5px;
  margin-left: -22px;
  list-style: none;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: grid;
}
#menuVertical ul li:hover {
  background: #690500;
  color: #BB6B00;
}
.main_page{
  width: 80%;
  margin-left: 19%;
}
.main_page h1{
  position: relative;
  top: 20px;
  text-transform: uppercase;
}
.form-search{
  margin-top: 3%;
}
.current_month{
  border: 1px solid white;
  padding: 10px;
  float: right;
  margin-right: 50px;
}
.main_page table{
  margin-left: 10px;
  margin-top: 50px;
  text-align: left;
  border-collapse: separate;
  border-spacing: 1px;
  background: white;
  color: black;
  border: 2px solid white;
  border-radius: 3px;
  margin-right: 10px;
}
.main_page table tr th {
  font-size: 18px;
  padding: 10px;
}
.main_page table tr td {
  background: #3e3e3e;
  color: white;
  padding: 10px;
}
.main_page table tr td button{
  color: white;
  border-radius: 1px;
  background: #3e3e3e;
}
.main_page table tr td button a{
  color: white;
  text-decoration: none;
}
.search-box{
  background-color: #452103;
  height: 40px;
  border-radius: 40px;
  margin-top: 4px;
}
.search-box:hover > .search-txt{
  width: 240px;
  padding: 0 15px;
}
.search-box:hover > .search-btn{
  background: #BB6B00;
  color: #210F04;
}
.search-btn{
  color: #BB6B00;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #452103;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.4s;
}
.search-txt{
  border: none;
  background: none;
  outline: none;
  float:left;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
.dropdown_menu a:visited
{
  color: #BB6B00;
}
.dropdown_menu ul{
  background-color:  #452103;
  color: #BB6B00;
}
.dropdown_menu ul li a:hover{
  background-color:  #690500;
}
.dropdown_menu ul li a{
  font-weight: bold;
}
.main_table{
  padding-right: 30px;
  margin-left: 10px;
  margin-top: 20px;
  background-color: #452103;
  width: 250px;
  height: auto;
  padding: 20px;
  border-radius: 12px;
  font-size: 20px;
}
nav ul ul{
  position: static;
  display: none;
  left: -5px;
  top: -40px;
}
nav ul .feat-show.show{
  display: block;
}
nav li .feat-btn.show{
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.main_table button{
  margin-left: 10px;
  color: #BB6B00;
  background-color: #690500;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 20px;
}
.main_table button:hover{
  color: #BB6B00;
  background-color: #210F04;
}
